In [4]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data pr ocessing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [4]:
import seaborn as sns
import matplotlib.pyplot as plt

from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

plt.style.use("seaborn-whitegrid")

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn
data = pd.read_csv('C:/data/subwaytime.csv', encoding = 'CP949')
data.head()

,호선명,지하철역,04:00:00~04:59:59,Unnamed: 3,05:00:00~05:59:59,Unnamed: 5,06:00:00~06:59:59,Unnamed: 7,07:00:00~07:59:59,Unnamed: 9,...,23:00:00~23:59:59,Unnamed: 41,00:00:00~00:59:59,Unnamed: 43,01:00:00~01:59:59,Unnamed: 45,02:00:00~02:59:59,Unnamed: 47,03:00:00~03:59:59,Unnamed: 49
0,NaN,NaN,승차,하차,승차,하차,승차,하차,승차,하차,...,승차,하차,승차,하차,승차,하차,승차,하차,승차,하차
1,1호선,서울역,746,16,9151,6038,11560,33958,36079,87958,...,10028,7638,13,570,0,0,0,0,0,0
2,1호선,동묘앞,57,3,2966,885,3409,4736,5917,9312,...,1036,2344,3,1198,0,0,0,0,0,0
3,1호선,시청,29,0,1711,3796,2774,19145,6323,61361,...,3808,1308,5,86,0,0,0,0,0,0
4,1호선,종각,137,0,2075,4407,2943,22272,5344,96690,...,6340,1341,14,133,3,2,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,우이신설선,정릉,2,1,1917,460,5181,1586,13616,2977,...,477,2073,1,3,0,0,0,0,0,0
606,우이신설선,성신여대입구(돈암),0,0,823,321,1223,1114,3408,3726,...,949,1075,1,8,0,0,0,0,0,0
607,우이신설선,보문,0,0,400,260,748,1343,2136,3049,...,398,669,0,19,0,0,0,0,0,0
608,우이신설선,신설동,5,0,966,716,1262,2126,1345,5149,...,504,624,0,217,0,0,0,0,0,0
609,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
def test(a):
    if ((a // 2 + 3) >= 24) & (a % 2 == 0):
        return str(a // 2 - 21) + "시승차"
    elif ((a // 2) + 3 >= 24) & (a % 2 == 1):
        return str(a // 2 - 21) + "시하차"
    elif (a % 2 == 0):
        return str(a // 2 + 3) + "시승차"
    else:
        return str(a // 2 + 3) + "시하차"
time_cols = [test(x) for x in range(2, 50)]
time_cols

['4시승차',
 '4시하차',
 '5시승차',
 '5시하차',
 '6시승차',
 '6시하차',
 '7시승차',
 '7시하차',
 '8시승차',
 '8시하차',
 '9시승차',
 '9시하차',
 '10시승차',
 '10시하차',
 '11시승차',
 '11시하차',
 '12시승차',
 '12시하차',
 '13시승차',
 '13시하차',
 '14시승차',
 '14시하차',
 '15시승차',
 '15시하차',
 '16시승차',
 '16시하차',
 '17시승차',
 '17시하차',
 '18시승차',
 '18시하차',
 '19시승차',
 '19시하차',
 '20시승차',
 '20시하차',
 '21시승차',
 '21시하차',
 '22시승차',
 '22시하차',
 '23시승차',
 '23시하차',
 '0시승차',
 '0시하차',
 '1시승차',
 '1시하차',
 '2시승차',
 '2시하차',
 '3시승차',
 '3시하차']

In [48]:
transfer = data.iloc[0]
info = data.drop([0, 609])
info.iloc[:, 2:] = info.iloc[:, 2:].astype(int)
info.columns = ["호선명", "지하철역"] + time_cols
info

,호선명,지하철역,4시승차,4시하차,5시승차,5시하차,6시승차,6시하차,7시승차,7시하차,...,23시승차,23시하차,0시승차,0시하차,1시승차,1시하차,2시승차,2시하차,3시승차,3시하차
1,1호선,서울역,746,16,9151,6038,11560,33958,36079,87958,...,10028,7638,13,570,0,0,0,0,0,0
2,1호선,동묘앞,57,3,2966,885,3409,4736,5917,9312,...,1036,2344,3,1198,0,0,0,0,0,0
3,1호선,시청,29,0,1711,3796,2774,19145,6323,61361,...,3808,1308,5,86,0,0,0,0,0,0
4,1호선,종각,137,0,2075,4407,2943,22272,5344,96690,...,6340,1341,14,133,3,2,0,0,0,0
5,1호선,종로3가,143,25,3056,3179,2944,11751,4731,25513,...,5299,2093,16,384,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
604,우이신설선,북한산보국문,1,1,2001,626,6684,2370,19654,5036,...,818,4288,4,4,0,0,0,0,0,0
605,우이신설선,정릉,2,1,1917,460,5181,1586,13616,2977,...,477,2073,1,3,0,0,0,0,0,0
606,우이신설선,성신여대입구(돈암),0,0,823,321,1223,1114,3408,3726,...,949,1075,1,8,0,0,0,0,0,0
607,우이신설선,보문,0,0,400,260,748,1343,2136,3049,...,398,669,0,19,0,0,0,0,0,0
608,우이신설선,신설동,5,0,966,716,1262,2126,1345,5149,...,504,624,0,217,0,0,0,0,0,0